nav
    ul.pager
        li.previous#pager_prev
            a
                span(aria-hidden=true) &larr; Older
        li.next#pager_next
            a Newer
                span(aria-hidden=true) &rarr;