extends layout

block links
    link(href='/font-awesome-4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/dashboard.css', rel='stylesheet')
    link(href='/stylesheets/search_style.css', rel='stylesheet')
block content
    include ./sidebar.pug
    div#contain
    .container



        br
        .row
            .col-sm-4.col-sm-offset-4.col-xs-12
                .panel.panel-info.listPanel
                    .panel-heading
                        h3.panel-title#title Poll Directory
                    .panel-body
                        #poll_List.list-group

    script(src='/socket.io/socket.io.js')
    //script(src='/js/directory.js')
    script(src='/js/poll_detail.js')