html, body {
    height: 100%;
}

#nav_bar {
    margin-bottom: 10px;
    padding: 0 10px
}

.container {
    height: 83%;
}

#map {
    height: 60%;
    width: 100%;
}

.marker-label {
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #eb3a44;
    border-radius: 5px;
    background: #fee1d7;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #eb3a44;
}